version: 2
jobs:
  build:
    working_directory: ~/spring-boot-war
    docker:
      - image: okode/openjdk
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - run:
          name: Build
          command: ci/build.sh
      - run:
          name: Deploy to GitHub
          command: ci/deploy.sh
workflows:
  version: 2
  springbootwar:
    jobs:
      - build:
          context: org-global
          filters:
            branches:
              ignore:
                - master
            tags:
              only: /.*/
